// Custom padding for Ionic button

ion-icon {
    font-size: 26px;
    padding: 0px 6px;
    cursor: pointer;
}

ion-searchbar {
    --background: #FFFFFF;
    --border-radius: 10px;
    --border: 1px solid #e4e4e4 !important;
    --box-shadow: none !important;

    .searchbar-input{
        background-color: #FFFFFF;
    }
}