<ion-toolbar>
  <ion-buttons slot="start">
    @if (isHomePage) {
    <ion-menu-button color="light"></ion-menu-button>
    } @else {
    <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    }
  </ion-buttons>
  <ion-title color="light">Siddha Medicals</ion-title>
  <ion-buttons slot="end">
    <ion-icon name="cart-outline" color="light"></ion-icon>
    <ion-icon name="heart-outline" color="light"></ion-icon>
    <ion-icon name="person-circle" color="light"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar class="ion-no-padding">
  <ion-searchbar color="light" placeholder="Light" ></ion-searchbar>
</ion-toolbar>