<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button color="primary"></ion-menu-button>
  </ion-buttons>
  <ion-title color="primary">Siddha Medicals</ion-title>
  <ion-buttons slot="end">
    <ion-icon name="cart-outline" color="primary"></ion-icon>
    <ion-icon name="heart-outline" color="primary"></ion-icon>
    <ion-icon name="person-circle" color="primary"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar class="ion-no-padding">
  <ion-searchbar color="light" placeholder="Light" ></ion-searchbar>
</ion-toolbar>