<ion-footer class="footer-nav shadow-lg p-0 m-0">
  <ion-toolbar class="ion-padding-vertical p-0 m-0">
    <ion-buttons class="ion-justify-content-around w-100 d-flex ion-no-padding">
      <ion-button [routerLink]="['/home']" routerDirection="root" class="footer-btn" fill="clear">
        <ion-icon name="storefront-outline" color="primary" size="large"></ion-icon>
        <ion-label class="footer-label">Home</ion-label>
      </ion-button>

      <ion-button [routerLink]="['/categories']" routerDirection="forward" class="footer-btn" fill="clear">
        <ion-icon name="apps-outline"  color="primary"  size="large"></ion-icon>
        <ion-label class="footer-label">Categories</ion-label>
      </ion-button>

      <ion-button [routerLink]="['/cart']" routerDirection="forward" class="footer-btn" fill="clear">
        <ion-icon name="cart"  color="primary"  size="large"></ion-icon>
        <ion-label class="footer-label">Cart</ion-label>
      </ion-button>

      <ion-button [routerLink]="['/login']" routerDirection="forward" class="footer-btn" fill="clear">
        <ion-icon name="person-circle-outline"  color="primary"  size="large"></ion-icon>
        <ion-label class="footer-label">Profile</ion-label>
      </ion-button>

      <ion-button [routerLink]="['/more']" routerDirection="forward" class="footer-btn" fill="clear">
        <ion-icon name="layers-outline"  color="primary"  size="large"></ion-icon>
        <ion-label class="footer-label">More</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>