<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-between mx-2" >
      <ion-button>
        <ion-icon name="storefront-outline" color="primary" size="large"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="apps-outline" color="primary" size="large"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="cart" color="primary" size="large"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="person-circle-outline" color="primary" size="large"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="layers-outline" color="primary"  size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>