<div class="category-list">
  <div class="row flex-nowrap category-items">
    <div class="col col-2">
      <div class="category-item">Category 1</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 2</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 3</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 4</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 5</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 6</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 7</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 8</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 9</div>
    </div>
    <div class="col col-2">
      <div class="category-item">Category 10</div>
    </div>
  </div>
</div>
