.categories-item {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-left: none;
    border-top: none;
    padding: 20px 10px;
    min-height: 120px;
    text-align: center;

    &:nth-child(odd) {
        border-left: 1px solid #e0e0e0;
    }

    &:nth-child(n+3) {
        border-top: 1px solid #e0e0e0;
    }
}