<ion-content>
  <div class="container">
  <h2>Become User</h2>
  <p>If you are new to our store, we are glad to have you as a member.</p>
  
  <form>
      <div class="form-group">
          <label for="first-name">First Name *</label>
          <input type="text" id="first-name" placeholder="First Name" required>
      </div>
      
      <div class="form-group">
          <label for="last-name">Last Name *</label>
          <input type="text" id="last-name" placeholder="Last Name" required>
      </div>

      <div class="form-group">
          <label for="email">Email *</label>
          <input type="email" id="email" placeholder="email@example.com" required>
      </div>

      <div class="form-group">
          <label for="password">Password *</label>
          <input type="password" id="password" placeholder="Password" required>
      </div>

      <div class="form-group">
          <label for="confirm-password">Confirm Password *</label>
          <input type="password" id="confirm-password" placeholder="Confirm Password" required>
      </div>

      <button type="submit" class="btn">Register</button>
  </form>
</div>
</ion-content>