<ion-header [translucent]="true" class="osahan-nav">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  @for (section of data; track section.id) {
  @if (section.type === 'image_carousel') {
  <app-slider [data]="section.options"></app-slider>
  }
  @if (section.type === 'category_carousel') {
  <app-category [data]="section.options"></app-category>
  }
  @if (section.type === 'product_carousel' && section.options.title === 'Today Deal') {
  <app-best-offers [data]="section.options"></app-best-offers>
  }
  @if (section.type === 'product_carousel' && section.options.title === 'Best Selling') {
  <app-best-selling [data]="section.options"></app-best-selling>
  }
  @if (section.type === 'product_carousel' && section.options.title === 'New Arrival') {
  <app-new-arraival [data]="section.options"></app-new-arraival>
  }
  @if (section.type === 'image_carousel' && section.name.includes('Offer Banner')) {
  <app-offer-banner [data]="section.options"></app-offer-banner>
  }
  }
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <div id="container">
   
    <home-main-category></home-main-category>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/1.jpg">
        </ion-col>
        <ion-col>
          <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/2.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>
     
    </div>
    <ion-grid>
      <ion-row>
        <ion-col [routerLink]="['/shoplist']">
          <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/3.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="pt-0">
      <ion-row class="pt-0">
        <ion-col [routerLink]="['/shoplist']">
          <img alt="img" class="single-img rounded shadow-sm" src="assets/ad/4.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->
<app-footer></app-footer>