<ion-header class="osahan-nav">
   <app-header [title]="'My Address'" [showBackButton]="true" [showSearch]="false"></app-header>
</ion-header>
<ion-content class="ion-padding">
   @if (addresses.length > 0) {
   <ion-list>
      @for (address of addresses; track address.id) {
      <ion-item>
         <ion-label>
            <h2>{{ address.first_name }} {{ address.last_name }}</h2>
            <p>{{ address.address[0] }}, {{ address.city }}, {{ address.state }} - {{ address.postcode }}</p>
            <p>{{ address.phone }}</p>
         </ion-label>
         <ion-button fill="clear" [routerLink]="['/account/edit-address', address.id]" slot="end">
            <ion-icon name="create-outline"></ion-icon>
         </ion-button>
      </ion-item>
      }
   </ion-list>
   } @else {
   <ion-text color="medium">No addresses found.</ion-text>
   }

   <ion-button expand="full" [routerLink]="['/account/add-address']">Add New Address</ion-button>
</ion-content>